*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Cinzel', serif;

}

/* Colors */
:root {
    --color-black: #000;
}

/* Typography */
html {
    font-size: 62.5%;

}

body {
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-body);
    margin: 0;
}

/* Collapsibles */

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}


.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}


/* Navigation Bar */

.list {
    padding: 0;
    list-style: none;
    line-height: 5rem;
}

.nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
    list-style: none;
}

.nav__item:last-of-type {
    border-bottom: none;
}

.nav__item>a {
    color: #d2d0db;
    transition: color 0.3s;
    text-decoration: none;
}

.nav__item>a:hover {
    color: #fff;
}

.nav__toggler {
    opacity: 0.5;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
}


@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.hero {
    background-color: var(--color-black);
    height: 120vh;
}

.hero>h1 {
    color: #fff;
    margin: 0;
    padding: 20rem 0 1rem 0;
    text-align: center;
}

.hero>a {
    text-decoration: none;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.btn {
    margin: auto;
    display: inline-flex;
    height: 3rem;
    padding: 1.5rem;
    background: var(--color-black);
    border: none;
    outline: none;
    border-radius: 50px;
    overflow: hidden;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    transition: background 0.2s;
}

.btn:hover {
    background: rgb(48, 43, 43);
}

.btn__icon {
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
}

.btn__icon>img {
    width: 1.5rem;
}